/* all */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p{
    padding-bottom: 20px;
}

h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h3{
    padding-bottom: 10px;
}

h4{
    padding-top: 10px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;

}


/* main general structure */
.container-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "menu-bar menu-bar"
        "main main"
        "skills skills"
        "proyects proyects"
        "education education"
        "footer footer";
}


/* section: navbar */
.menu-bar {
    grid-area: menu-bar;
    background-color: aquamarine;
    
}

#principal-bar{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px 0px;
    
}


/* section: main */
.main {
    grid-area: main;
    background-color: blue;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "container-profile-pic info-main"; 

    height: 100vh;

    align-items: center;

}

.container-profile-pic{
    display: flex;
    justify-content: right;
    padding-right: 60px;
}

.profile-pic{
    width: 250px;
    
}

.info-main p{
    text-align: left;
}


.container-icons-contacts {
    display: flex;
    gap: 15px;
}

.icons-contacts {
    height: 40px;
}

.email-info {
    display: none;
    /* Oculto por defecto */
    margin-top: 10px;
}


/* section: skills */
.skills {
    grid-area: skills;
    background-color: rgb(178, 224, 12);
    padding-bottom: 20px;

}

.container-icons-skills {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 6px;
    justify-items: center;

}

.icons-skills {
    height: 100px;
    padding-bottom: 8px;
}


/* section: proyects */
.proyects {
    grid-area: proyects;
    background-color: rgb(209, 39, 186);
    padding-bottom: 20px;
}

.container-proyects{
    display: grid;
    grid-template-columns: repeat(
        3,
        minmax(
            150px,
            1fr
        )
    );
    gap: 40px;
}

.item-proyects{
    display: flex;
    flex-direction: column;
    background-color: beige;

}

.img-proyect{
    padding-bottom: 15px;
}

.item-proyects h3, p, a{
    text-align: center;
}


/* section: education */
.education {
    grid-area: education;
    background-color: rgb(255, 0, 0);
    padding-bottom: 20px;
}

.container-education{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;

}

.item-education{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-education {
    height: 80px;
}

.item-education-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: flex-end;
    align-items: flex-start;
}

/* section: footer */
.footer {
    grid-area: footer;
    background-color: rgb(26, 177, 39);
    text-align: center;
    padding-bottom: 35px;
    padding-top: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer p{
    padding-bottom: 15px;
}

.container-icons-footer{
    display: flex;
    gap: 15px;
}

.icons-footer{
    height: 25px;
}



