/* ================
Reset y globales
================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
/* google fonts */
.inter-g-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-g-font{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-g-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.syne-g-font {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* other fonts */
@font-face {
  font-family: "Gotham";
  src: url('../fonts/Homepagebaukasten_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #eef0f3;
}

a {
    text-decoration: none;
    color: #0bdbb6;
}

p{
    font-size: 1rem;
}

h2{
    font-size: 1.6rem;
    color: #0bdbb6;
}


/* ======================
    HEADER / NAVEGACIÓN
    ====================== */
header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12 15 20);
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    flex-direction: row-reverse;
}


header.navbar .menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #0bdbb6;    
    cursor: pointer;
}

header.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header.navbar .nav-links li a {
    font-size: 1rem;
    transition: color 0.3s;
}

header.navbar .nav-links li a:hover {
    color: #ddd;
}

#cv-button{
    display: block;
    width: 6rem;
    height: 2rem;
    font-family: 'Montserrat';
    background-color: rgb(12 15 20);
    border-style: solid;
    border-color: #ffffff38;
    color: #ffffff;
    border-width: thin;
    border-radius: 0.9rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cv-button:hover{
    border-color: #0bdbb6;
}


/* Mostrar menú hamburguesa en móvil y ocultar enlaces */
@media (max-width: 768px) {
    header.navbar .menu-toggle {
        display: block;
    }

    header.navbar .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(12 15 20);
        flex-direction: column;
        padding: 1rem 0;
        display: none;
    }

    header.navbar .nav-links.active {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    header.navbar {
        padding: 1rem 5rem;
    }
}



/* Espacio para que no tape el header */
.container-main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

/* =========================
    SECCIÓN “ABOUT / CONTACT”
    ========================= */
.main-section {
    padding: 4rem 1.5rem 3rem;
    background-color: #0D1117;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.info-main {
    text-align: center;
    max-width: 600px;
}

.container-name{display: flex;flex-direction: column;}

.h1-name{
    font-family: 'Gotham';
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    color: #0bdbb6;
    margin-bottom: -1rem;
}

.h1-lastname{
    font-family: 'Gotham';
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.1rem;
    color: transparent;
    -webkit-text-stroke: 0.4px #0bdbb6;
    font-weight: 800;
}

.container-about-text p {
    margin-bottom: 1.5rem;
}

.container-about-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
}

#my-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#my-contacts h3 {
    font-size: 1.1rem;
}

#mailto{
    color: white;
}


.container-email-icons {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}


.container-icons{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.container-mail{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


.icons-contacts {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* about-me */
.info-main, .about-me {
    width: 100%;
    max-width: 600px;
}

.about-me{
    margin-top: 3.5rem;
    border-radius: 1rem;
    /* background-color: #11182757; */
}

.tab-content {
  display: none;
  padding-left: 2rem;
}

.tab-content.active {
  display: block;
  padding-left: 2rem;
}

.tab.active {
  font-weight: bold;
  color: #0bdbb6;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
  border-bottom: 0.7px solid #dee2e6;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.6rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem 0.5rem 0 0;
  background: transparent;
  color: white;
  cursor: pointer;
}

/* email icon */
.copy-btn{
    background-color: transparent;
    border: none;
}
.copy-icon{
  width: 20px;  /* Ajusta el ancho a tu gusto */
  height: auto; /* Mantiene la proporción */
}

/* reemplazo alerta */
.notification {
  visibility: hidden; /* Oculto por defecto */
  min-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  right: 30px; /* Distancia del borde derecho */
  bottom: 30px; /* Distancia del borde inferior */
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

/* Clase que activaremos con JavaScript */
.notification.show {
  visibility: visible;
  opacity: 1;
}

/* Ajustes para desktop */
@media (min-width: 1024px) {
    .main-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 4rem;
        background-color: #0D1117;
    }


    .info-main {
        width: 50%;
        text-align: left;
        max-width: none;
    }

    #my-contacts {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .container-email-icons {
        display: flex;
        gap: 1rem;
        flex-direction: column;

    }

    .container-icons{
        justify-content: normal;
    }
}


/* ======================
    SECCIÓN “PROYECTOS”
    ====================== */
.proyects-section {
    padding: 4.5rem 1.8rem 3rem;
    background-color: #0D1117;
}

.proyects-section h2 {
    font-family: 'Gotham';
    text-align: center;
    margin-bottom: 2rem;
}

.container-proyects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.item-proyects {
    background-color: #111827;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.img-proyect {
    width: 100%;
    height: auto;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: filter 0.3s ease;
}

.text-repository{
    width: 100%;
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
    pointer-events: none;
    text-align: center;
}

.item-proyects h3 {
    margin-bottom: 0.5rem;
}

.item-proyects p {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.item-technologies{    
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.item-tech{
    background-color: transparent;
    color: white;
    border-radius: 0.9rem;
    border: 1px solid #0bdbb6;
    padding: 0.3rem;
}




.link-repository{
    display: inline-block;
    color: #fff;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}


.link-repository:hover .img-proyect{
    filter: brightness(0.5);
}

.link-repository:hover .text-repository{
    opacity: 1;
    visibility: visible;
}

/* ajuste tablets */
@media (min-width: 769px) {
    .container-proyects {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Ajustes para desktop */
@media (min-width: 1200px) {
    .container-proyects {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* ==========
    FOOTER
    ========== */
.footer {
    background-color: #0D1117;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

.footer p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.container-icons-footer {
    display: inline-flex;
    gap: 1rem;
}

.icons-footer {
    width: 25px;
    height: auto;
}

/*  GENERAL */

/* tablets */
@media (min-width: 630px) {
    .skills-section, .proyects-section, .education-section{
        padding: 4.5rem 3rem 3rem;;
    }
}


/* pantallas mayor a 1366px x 768px */
@media only screen and (min-width: 1367px){
    .skills-section, .proyects-section, .education-section{
        padding-top: 5.5rem;
        padding-left: 4vw;
        padding-right: 4vw;

    }

    header.navbar {
        height: 4.5vw;
    }

    header.navbar .nav-links {
        gap: 1.5vw;
    }
   

    .container-about-text h1 {
        font-size: 2vw;
    }

    #my-contacts h3 {
        /* margin-bottom: 1rem; */
        font-size: 1.4vw;
    }
    
    h2{
        font-size: 1.8vw;
    }

    .proyect-title{
        font-size: 1.6vw;

    }

    h3, .item-education-text h3{
        font-size: 1.4vw;
    }
    

    
    p, .skill-item p, span, .footer p, #mailto{
        font-size: 1.3vw;
    }



    header.navbar .nav-links {
        gap: 1.5vw;
    }

    header.navbar .nav-links li a {
        font-size: 1.2vw;
    }

    #cv-button {
        width: 10vw;
        height: 3vw;
        font-size: 1.2vw;
    }

    .icons-contacts {
        width: 2.5vw;
        height: 2.5vw;
    }

    .icons-footer {
        width: 2vw;
        height: 2vw;
    }

    .container-icons-footer {
        gap: 2vw;
    }

    .container-email-icons {
        gap: 0.5vw;
    }

    .item-proyects {
        padding-bottom: 1vw;
        border-radius: 2vw;
    }

    .item-proyects p{
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 2vw;
    }

}
