* {
    margin: 0;
    padding: 0;
}

.email-info {
    display: none;
    /* Oculto por defecto */
    margin-top: 10px;
}

.copy-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

p{
    padding-bottom: 20px;
}

h2{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h3{
    padding-bottom: 10px;
}

.profile-pic{
    width: 250px;
    
}

.icons-contacts {
    height: 40px;
}

.icons-skills {
    height: 100px;
}

.icons-education {
    height: 20px;
}


section{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;

}

.menu-bar {
    grid-area: menu-bar;
    background-color: aquamarine;
    
}

#principal-bar{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px 0px;
    
}

.main {
    grid-area: main;
    background-color: blue;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "container-profile-pic info-main"; 

    height: 100vh;

    align-items: center;

}

.container-profile-pic{
    display: flex;
    justify-content: right;
    padding-right: 60px;
}

.container-icons-contacts {
    display: flex;
    gap: 15px;
}

.container-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "menu-bar menu-bar"
        "main main"
        "skills skills"
        "proyects proyects"
        "education education"
        "footer footer";
}

.skills {
    grid-area: skills;
    background-color: rgb(178, 224, 12);

    /* align-items: center; */
    padding-bottom: 20px;

}

.container-icons-skills {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 16px;

}


.proyects {
    grid-area: proyects;
    background-color: rgb(209, 39, 186);

    height: 100vh;
}

.education {
    grid-area: education;
    background-color: rgb(255, 0, 0);

    height: 100vh;
}

.footer {
    grid-area: footer;
    background-color: rgb(26, 177, 39);
}

